<nav class="bottom-nav" aria-label="Navegación principal">
  <div class="bottom-nav__track" #scrollTrack role="list">
    @for (item of navItems; track item.route) {
      <a
        #navLink
        role="listitem"
        [routerLink]="[item.route]"
        [attr.aria-label]="item.label"
        [class.is-active]="isActive(item.route)"
        class="bottom-nav__item"
        (click)="scrollToActive()"
      >
        <span class="bottom-nav__pill">
          <app-icon [name]="item.icon" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">{{ item.label }}</span>
        </span>
      </a>
    }
  </div>
</nav>
