    <nav class="bottom-nav">
      <div class="bottom-nav__list">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="dashboard" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Dashboard</span>
        </a>
        <a
          [routerLink]="['/users']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="users" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Usuarios</span>
        </a>
        <a
          [routerLink]="['/companies']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="building" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Empresas</span>
        </a>
        <a
          [routerLink]="['/branches']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="store" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Sucursales</span>
        </a>
        <a
          [routerLink]="['/conversations']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="messageSquare" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Chat</span>
        </a>
        <a
          [routerLink]="['/messages']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="send" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Msgs</span>
        </a>
        <a
          [routerLink]="['/channels']"
          routerLinkActive="active-bottom-nav"
          [routerLinkActiveOptions]="{exact: true}"
          class="bottom-nav__item"
        >
          <app-icon name="connectivity" class="bottom-nav__icon"></app-icon>
          <span class="bottom-nav__label">Canales</span>
        </a>
      </div>
    </nav>
